:root {
    --main-text: rgba(33, 33, 33, 1);
    --ad-main-text: rgba(117, 117, 117, 1);
    --ad-hover-text: rgba(33, 150, 243, 1);
    --on-back-text-op60: rgba(255, 255, 255, 0.6);
    --on-back-text: rgba(255, 255, 255, 1);
    --emblem-text: rgba(0,0,0,1);
    --shadow-main: rgba(0,0,0,0.2);
    --back-main: rgba(47, 48, 58, 1);
    --back-main-op40: rgba(47, 48, 58, 0.4);
    --back-ad-main: rgba(245, 244, 250, 1);
    --back-ad-hover: rgba(33, 150, 243, 1);
    --back-ad-hover-op90: rgba(33, 150, 243, 0.9);
    --back-team: rgba(255, 255, 255, 1);
    --line-view: rgba(238,238,238,1);
    --header-border: rgba(236,236,236,1);
    --social-icon-main: rgba(175,177,184,1);
    --social-icon-ad-main: rgba(238,238,238,0.1);
    --gradient-op10:  rgba(255, 255, 255, 0.1);
    --back-main-op80: rgba(47, 48, 58, 0.8);
    --border-input-footer: rgba(255, 255, 255, 0.3);
    --border-input: rgba(33, 33, 33, 0.2);
    --border-btn: rgba(0,0,0,0.1);
}
