/* секция HEADER */

.header {
    padding: 10px 0;
    &__list {
        display: none;
    }
    &__contacts {
        display: none;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .burger__btn {
        border: none;
        background: transparent;
        padding: 0;
        align-items: center;
        line-height: 0;
    }
    .burger__btn-icon {
        width: 40px;
        height: 40px;
        fill: var(--main-text);
    }
    .burger__menu.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    
    .burger__menu {
        position: fixed;
        left: 0;
        top: 0;
        background-color: var(--on-back-text);
        width: 100vw;
        height: 100vw;
        z-index: 50;
    
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .burger__menu-container {
        position: relative;
    }
    .burger__menu-networks {
        display: flex;
        justify-content: space-around;
    }
    .burger__menu-social {
        border-right: 1px solid var(--border-input);
        padding-right: 20px;
    }
    .burger__menu-btn-close {
        border: none;
        background: transparent;
        padding: 0;
        align-items: center;
        line-height: 0;
    }
    .btn-close {
        position: absolute;
        top: 21px;
        right: 25px;
    }
    .burger__menu-icon-close {
        width: 19px;
        height: 19px;
        fill: var(--main-text);
    }
    @media screen and (min-width: 768px) {
        padding: 0;
        .burger__btn {
            display: none;
        }
        border-bottom: 1px solid var(--header-border);

        &__container,
        &__nav,  
        &__list, 
        &__contacts {
            display: flex;
        }
        &__container {
            justify-content: space-between;
            align-items: center;
        }
        &__logo {
            display: flex;
            align-items: center;
        }
        &__list {
            align-items: center;
            margin-left: 93px;
        }
        &__list-a {
            position: relative;
            color: var(--main-text);
            font-size: 14px;
            font-weight: 500;
            padding-top: 32px;
            padding-bottom: 32px;
            letter-spacing: 0.02em;
            line-height: 1.2;
            margin-right: 50px;
        }
        &__list--active {
            color: var(--ad-hover-text);
        }
        &__list--active {
            display: block;
        }
        &__list--active::after {
            display: inline-block;
            content: "";
            width: 100%;
            height: 4px;
            border-radius: 2px;
            position: absolute;
            bottom: -1px;
            left: 0;
            background-color: var(--ad-hover-text);
        }
        &__contacts {
            display: flex;
            flex-direction: column;
        }
        &__icon-text {
            display: flex;
            color: var(--ad-main-text);
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.02em;
            line-height: 1.2;
            align-items: center;
            margin-left: 34px;
            padding: 5px 0;
        }
        & a:hover, .header a:focus {
            color: var(--ad-hover-text);
            cursor: pointer;
        }
        &__icon-envelope {
            width: 16px;
            height: 12px;
            margin-right: 10px;
            fill: currentColor;
        }
        &__icon-phone {
            width: 10px;
            height: 16px;
            margin-right: 10px;
            fill: currentColor;
        }
    }
    @media screen and (min-width: 1200px) {
        &__contacts {
            flex-direction: row;
        }
    }
}
.emblem {
    color: var(--ad-hover-text); 
    line-height: 1.2;
    letter-spacing: 0.03em;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: bold;

    &--header {
        color: var(--emblem-text);
    }

    @media screen and (min-width: 1200px) {
        font-size: 26px;
    }
}
